<app-master-page></app-master-page>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Pending List Applications</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <h5 class="mb-0">Data Tables - Print, Excel, CSV, PDF</h5>
                        
                    </div> -->
                    <div class="card-body">
                        <table id="datatableexample" class="table table-striped table-bordered table-sm row-border hover" >
                            <thead>
                                <tr>
                                    <!-- <th>Id</th> -->
                                    <th>Visa Reference Number</th>
                                    <th>Name</th>
                                    <th>Type of visa</th>
                                    <th>Processing Time</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let application of ApplicationList; let i = index">
                                    <!-- <td>{{i+1}}</td> -->
                                    <td>
                                        <div *ngIf="application.Status == 'Biometric Submitted'; else showRefNo">
                                            {{application.MyEVisaRefNo}}
                                        </div>
                                        <ng-template #showRefNo>
                                            <a class="nav-link" [routerLink]="['/biometric',{applicationId:application.MyEVisaRefNo}]">{{application.MyEVisaRefNo}}</a>
                                        </ng-template>
                                        
                                        
                                    </td>
                                    <td>{{application.FullName}}</td>
                                    <td>{{application.PurposeOfVisit}}</td>
                                    <td>{{application.ApplicationType}}</td>
                                    <td>{{application.SubmissionDate |date:'dd/MM/yyyy'}}</td>
                                    <td>{{application.Status}}</td>

                                </tr>
                              </tbody>

                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>