<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Apply New Application</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet
                        vestibulum mi. Morbi lobortis pulvinar quam.</p>
    
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
    
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card">
                        <h5 class="card-header">New Application Form</h5>
    
                        <!-- Visa Application Form -->
                        <section class="example-section">
                            <label class="example-margin">Type of Application:</label>
                            <mat-radio-group>
                                <mat-radio-button class="example-margin" value="1">In Malaysia</mat-radio-button>
                                <mat-radio-button class="example-margin" value="0">Oversea</mat-radio-button>
                            </mat-radio-group>
                        </section>
    
                
                    </div>
    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end data table  -->
            <!-- ============================================================== -->
    
            <!-- ============================================================== -->
        </div>
    
        <!-- ============================================================== -->
    </div>
    <app-footer></app-footer>
</div>

<app-master-page></app-master-page>